<%- include('./header') %>
    <h1 class="welcome-message">Welcome to Community!</h1>
    <% if (user) { %>
        <a id="back-link" href="/users/<%= user._id %>">Back to User page</a>
        <% } %>
            <div>
                <% users.forEach(function(user) { %>
                    <% if (user.pictures.length) { %>
                        <h3 id="user-info">
                            <%= user.charactername %> from <%= user.islandname %> shared:
                        </h3>
                        <div id="users">
                            <% user.pictures.forEach(function(picture) { %>
                                <div id="share-area">
                                    <img id="share-pics" src="<%= picture.url %>">
                                    <% picture.comments.forEach(function(comment) { %>
                                        <p id="comment">"<%= comment.content %>"</p>
                                        <% }) %>
                                            <form action="/pictures/<%= picture.id %>/comments" method="POST">
                                                <div id="comment-area">
                                                    <textarea name="content" placeholder="Leave a comment here..."
                                                        required></textarea>
                                                    <input id="comment-button" type="submit" value="Comment">
                                                </div>
                                            </form>
                                </div>
                <% }) %>
            </div>
        <% } %>
    <% }) %>
            </div>
            </body>

            </html>