<%- include('../header') %>
    <div id="main-section">
        <% if (!user.charactername) { %>
            <h1>Welcome, <%= user.name %>
            </h1>
            <form action="/info" method="POST">
                <p>Please fill in your Character name:</p>
                <input type="text" name="charactername">
                <p>Please fill in your Island name:</p>
                <input type="text" name="islandname"> <br><br>
                <button type="submit">Add to your page</button>
            </form>
            <% } else { %>
                <h1>Hi <%= user.charactername %>! Welcome back to <%= user.islandname %>!</h1>
                <section id="my-villagers">
                    <h2>My Villagers</h2>
                    <div id="myvil-flex">
                        <% if (user.villagers.length) { %>
                            <% user.villagers.forEach(function(v) { %>
                                <div id="show-villager">
                                    <a href="/villagers/<%= v._id %>">
                                        <%= v.name %>
                                    </a><br>
                                    <img id="profile-pic" src="<%= v.profilepic %>" alt="picture of <%= v.name %>">
                                    <form action="/villagers/<%= v._id %>?_method=DELETE" method="POST">
                                        <button class="delete-button" type="submit">X</button>
                                    </form>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <h5>No Villagers Yet</h5>
                                        <% } %> <br><br>
                    </div>
                    <a href="/users/<%= user._id %>/villagers/new">Add Villager</a>
                </section>
                <section id="my-pictures">
                    <h2>My Pictures</h2>
                    <a id="upload-pics" href="/users/<%= user._id %>/pictures/new">Upload Picture</a>
                    <% if (user.pictures.length) { %>
                        <div id="users">
                            <% user.pictures.forEach(function(picture) { %>
                                <div id="share-area">
                                    <img id="share-pics" src="<%= picture.url %>">
                                    <form action="/pictures/<%= picture._id %>?_method=DELETE" method="POST">
                                        <button class="delete-button" type="submit">X</button>
                                    </form>
                                </div>
                                <% }) %>
                        </div>
                        <% } else { %>
                            <p> No Pictures Yet</p>
                            <% } %>
                </section>
                <% } %>
    </div>
    </body>

    </html>